backend:
  name: github
  repo: mkzi-nya/milthm-calculator-web
  branch: main

publish_mode: editorial_workflow

media_folder: "static/uploads"
public_folder: "/uploads"

local_media_library: true

collections:
  - name: song
    label: Wiki Songs
    folder: "wiki/song"
    create: true
    slug: "{{slug}}"
    extension: "md"
    format: "frontmatter"
    summary: "{{title}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Content", name: "body", widget: "markdown" }
