backend:
  name: github
  repo: mkzi-nya/milthm-calculator-web
  branch: main

publish_mode: editorial_workflow

# === 必须存在（即使不用）===
media_folder: "admin/uploads"
public_folder: "/admin/uploads"

media_library:
  name: disabled

collections:
  - name: test
    label: Test
    files:
      - file: README.md
        label: README
        name: readme
        fields:
          - { label: Content, name: body, widget: markdown }
